@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');



/* ### Primary

- Cyan: hsl(180, 66%, 49%)
- Dark Violet: hsl(257, 27%, 26%)

### Secondary

- Red: hsl(0, 87%, 67%)

### Neutral

- Gray: hsl(0, 0%, 75%)
- Grayish Violet: hsl(257, 7%, 63%)
- Very Dark Blue: hsl(255, 11%, 22%)
- Very Dark Violet: hsl(260, 8%, 14%) */

body {
  font-family: 'Rubik', sans-serif;
  background-color: rgb(245 245 245);
  overflow-x: hidden;
}

.expandBg {
  color:rgb(245 245 245);
}

.bgShorter {
  background-color: hsl(255, 11%, 22%);
}

.bgFooter {
  background-color: hsl(260, 8%, 14%);
}

.bgNav {
  background-color: hsl(257, 27%, 26%);
}

.btnBlue {
  background-color: hsl(180, 66%, 49%);
}

.whiteText {
  color: white;
}

@media (max-width: 400px) { 
  .margint4 {
    margin-top: 20px;
  }
  .margint2 {
    margin-top: 8px;
  }
  .margint1 {
    margin-top: 4px;
  }
  .marginb1 {
    margin-bottom: 4px;
  }
  .marginb4 {
    margin-bottom: 20px;
  }
  .whiteText {
    color: black;
  }
 }
